<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>KABUPATEN BERAU</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>   
     <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                    
					<a class="navbar-brand" href="#">Bumi Batiwakkal</a>
					<img class="img-square" src="assets/img/product/logo.jpeg" alt="">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header-section">BERANDA</a></li>
                    <li><a href="#about-section">TENTANG KAMI</a></li>
                    <li><a href="#services-section">LAYANAN</a></li>
                    <li><a href="#price-section">MONOGRAF KECAMATAN</a></li>
                    <li><a href="#products-section">INFORMASI</a></li>
                    <li><a href="#contact-section">KONTAK</a></li>
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
     <!-- HEADER SECTION -->
    <div id="header-section">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1> KABUPATEN BERAU
                        <br />
                        <strong>KECAMATAN YANG ADA DI KABUPATEN BERAU 
						KALIMANTAN TIMUR</strong>
                    </h1>
                     <br />
                  <a href="#about-section">  <i class="fa fa-angle-double-down fa-5x down-icon"></i> </a>
                </div>
            </div>
           
        </div>
       
    </div> 
      <!--END HEADER SECTION -->
    <!--ABOUT SECTION -->
    <div id="about-section" >
        <div class="container" >
		            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <h1>Tentang Kami</h1>
                    <h4>
						Kabupaten Berau adalah salah satu kabupaten yang terletak di Provinsi Kalimantan Timur. Ibu kota Kabupaten Berau terletak di Tanjung Redeb. 
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row main-top-margin text-center">
              <div class="center-md-3 center-sm-3" data-scrollreveal="enter center and move 100px, wait 0.7s">
                    <img class="img-circle" src="assets/img/team/bupati.jpg" alt="">
                    <h4> Sri Juniarsih Mas, M.Pd.</h4>
                    <p>
						Bupati Berau
						
                    </p>
                </div>
            </div>
              <!-- ./ Row Content-->
       
    </div>
    <!--END PRICE SECTION -->
    <!--PRODUCTS SECTION -->
    <div id="products-section" >
         <div class="container" >
            <div class="row main-top-margin text-center" data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <h1>Informasi</h1>
                    <h4>
                       Kabupaten Berau terdiri dari 13 kecamatan, 10 kelurahan, dan 100 kampung. Pada tahun 2017, jumlah penduduknya mencapai 219.263 jiwa dengan luas wilayah 21.240,00 km² dan sebaran penduduk 10 jiwa/km². [ 1 ][ 2 ] Daftar kecamatan dan kelurahan di Kabupaten Berau, adalah sebagai berikut:
                    </h4>
                </div>
            </div>
             <!-- ./ Main Heading-->
             <hr />
            <div class="row main-low-margin" >
                <div class="col-md-10  col-md-offset-1 col-sm-12">
 <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.8s">
                    <img src="assets/img/product/prd.jpg" alt="">
                </div>
                <div class="col-md-8 col-sm-8" data-scrollreveal="enter right and move 100px, wait 0.8s">
                    <h4 ><i class="fa fa-tint"></i>  <strong class="color-red"> Peta Wilayah Administrasi </strong></h4>
                    <p>
                        Kecamatan di Kab. Berau
                    </p>
                    </p>
                    <a href="https://web-api.bps.go.id/download.php?f=m122zFNZON0RLq4TBPiG51ErbGZmeU5oVHc2V1hZSmU0N3ZDRUVVRVdXLzRrMnBucktZN2JmU0JJdXpQQXFDRXMrcGFPL3lrV2pnVjF1OTd0UGd5M0JIMlBVZ3hYN3lVblJLcVNwR1IrYjBFcFhERkpqN1pSZ2ZvWXBYcHBtOWZCWm1XZ3JVbU1yZkR5UXdxS3J0TkowaXErQm1aa0RnTzUrMmhpRWk5ZVFiSEMwaXVxN2pPMkhoMVlTVkxlOHVWUkhjYXFqRllMM2ZZalVyRmRVYUs0a2JKeEY1K1htSGpoRlE2Um5BcGJhSzRBL3hBV2NuZGhPZUszUlNrOXpWZGJ0NFlHSHRwanRva0hxbUM=&_gl=1*or0qz5*_ga*ODk5MjcwODk3LjE3MzM5MjIwNTM.*_ga_XXTTVXWHDB*MTczNDY3ODk5OS41LjEuMTczNDY3OTE1MC4wLjAuMA..=" class="btn btn-success btn-lg" > Download Now</a>
                </div>
                </div>
               
            </div>
            <!-- ./ Row Content-->
            <hr />
			<div class="row main-low-margin bottam-pad" >
			<div>
			<center>
				<a href="file:///D:/CODE/Fabian_berau/fabian/template/berau_index.html" class="btn btn-primary btn-lg" > WebGIS</a>
			</div>
			</div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!--END PRODUCTS SECTION -->
    <!--CONTACT SECTION -->
    <div id="contact-section">
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
                    
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.8s">
                        <h3>Need Help ? Write Us. </h3>
                        <hr />
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8"  placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit Request</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
             <!-- ./ Row Content-->
        </div>
    </div>  
    <!--END CONTACT SECTION --> 
	
 <!--CONTACT SECTION-->
    
    <section  id="contact-sec">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2041773.6861288233!2d116.2805034999223!3d1.8047279930081057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x320db9032df93133%3A0x2cea5b974756a685!2sKabupaten%20Berau%2C%20Kalimantan%20Timur!5e0!3m2!1sid!2sid!4v1734680424021!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	   <div class="add">
      
        </section>
    <!--END CONTACT SECTION-->
	
    <!--FOOTER SECTION -->
    <div id="footer">
        <div class="container">
            <div class="row ">
                &copy; 2024 www.fabian.com | All Right Reserved 				
            </div>
    </div>  
    <!--END FOOTER SECTION --> 
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="assets/js/jquery.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="assets/js/bootstrap.min.js"></script>
     <!-- SCROLL REVEL LIBRARY FOR SCROLLING ANIMATIONS-->
    <script src="assets/js/scrollReveal.js"></script>
       <!-- CUSTOM SCRIPT-->
    <script src="assets/js/custom.js"></script>
</body>
</html>

